<div class="shared-wallets container">
  <h1>Smart contract {{smartContractAddress}}</h1>
  <h3>Instruction</h3>
  <p>1) Install Geth server </p>
  <p>2) Open terminal and run comand
    <strong>geth --ws --wsaddr "localhost" --wsport "8546" --wsorigins "*"
      --rpc --rpcaddr="localhost" --rpcport="8545"
      --identity "MyTestNode" --datadir "./data" --rinkeby --fast</strong>
  </p>
  <p>Contract attached for first wallet. This contract deploy from 2 wallets (1,2) and need 2 sing for complite
    transaction</p>
  <br>
  <p>Contract balance {{contractBalance}} ETH</p>
  <p>
    <input type="text" [(ngModel)]="inputData">
  </p>
  <div class="common-buttons">
    <button type="button" (click)="onDeployNewSmartContract()">Deploy NEW smart contract in first wallet</button>
    <button type="button" (click)="getWalletBalance()">Refresh all balance</button>
    <button type="button" (click)="getContractData()">Get contract data</button>
    <button type="button" (click)="sendContractEther()">Send 1 ETH to contract from FIRST wallet</button>
    <div class="contract-data">
    </div>
  </div>

  <div class="container">
    <!--<h3>Add new owner <input type="text" placeholder="New owner address" [(ngModel)]="newOwner"></h3>-->
  </div>

  <div class="wallet-wrapper">
    <div class="wallet-info">
      <h2>First wallet</h2>
      <div class="info">
        <p [ngClass]="wallets.first.transactionStatus === 'pending' ? 'color-red' : 'color-green'"> Transaction Status:
          {{wallets.first.transactionStatus}}</p>
        <p> Wallet address: <span>{{wallets.first.address}} </span></p>
        <p> Wallet private key: <span>{{wallets.first.privateKey}} </span></p>
        <p> Wallet balance: <span>{{wallets.first.balance}}</span></p>
      </div>
      <div class="controls">
        <button (click)="sendTransaction('first')">Send 0.3 ETH to 3 wallet</button>
        <button (click)="confirmTansaction('first')">Confirm transaction</button>
        <button (click)="addOwner('first')">add Owner, pay this wallet</button>
      </div>
    </div>

    <div class="wallet-info second">
      <h2>Second wallet</h2>
      <div class="info">
        <p [ngClass]="wallets.second.transactionStatus === 'pending' ? 'color-red' : 'color-green'"> Transaction Status:
          {{wallets.second.transactionStatus}}</p>
        <p> Wallet address: <span>{{wallets.second.address}} </span></p>
        <p> Wallet private key: <span>{{wallets.second.privateKey}} </span></p>
        <p> Wallet balance: <span>{{wallets.second.balance}}</span></p>
      </div>
      <div class="controls">
          <button (click)="sendTransaction('second')">Send 0.3 ETH to 3 wallet</button>
        <button (click)="confirmTansaction('second')">Confirm transaction</button>
        <button (click)="addOwner('second')">add this Owner, pay this wallet</button>        
      </div>
    </div>
  </div>
  <div class="container text-center">
    <input type="text" [(ngModel)]="transactionHash" placeholder="transaction hash">
  </div>

  <div class="">
    <div class="wallet-info">
      <h2>Third wallet</h2>
      <div class="info">
        <p [ngClass]="wallets.third.transactionStatus === 'pending' ? 'color-red' : 'color-green'"> Transaction Status:
          {{wallets.third.transactionStatus}}</p>
        <p> Wallet address: <span>{{wallets.third.address}} </span></p>
        <p> Wallet private key: <span>{{wallets.third.privateKey}} </span></p>
        <p> Wallet balance: <span>{{wallets.third.balance}}</span></p>
      </div>
      <div class="controls">
        <button (click)="addOwner('third')">add Owner, pay this wallet</button>
      </div>
    </div>
  </div>

  <div class="">
    <h3>Terminal
      <button (click)="terminal = []" class="float-r">Clear terminal</button>
    </h3>
    <div class="terminal">
      <p *ngFor="let item of terminal; let i = index">{{i}} ) {{item}}</p>
    </div>
  </div>
</div>

