<div class="shared-wallets container">
  <h1>Shared wallets</h1>
  <h3>Instruction</h3>
  <p>1) Install Geth server </p>
  <p>2) Open terminal and run comand
    <strong>geth --rpcapi "db,eth,net,web3,personal" --ws --wsaddr "localhost" --wsport "8545" --wsorigins "*"
      --identity "MyTestNode" --datadir "./data" --rinkeby --fast</strong>
  </p>
  <p>Contract attached for first wallet</p>
  <br>

  <div class="common-buttons">
    <button type="button" (click)="onDeployNewSmartContract()">Deploy smart contract</button>
    <button type="button" (click)="getWalletBalance()">Refresh wallet balance</button>
    <button type="button" (click)="getContractData()">Get owner count</button>
  </div>

  <div class="container">
    <h3>Add new owner <input type="text" placeholder="New owner address" [(ngModel)]="newOwner"></h3>
  </div>

  <div class="wallet-wrapper container">
    <div class="wallet-info">
      <h2>First wallet</h2>
      <div class="info">
        <p> Wallet address: <span>{{wallets.first.address}} </span></p>
        <p> Wallet private key: <span>{{wallets.first.privateKey}} </span></p>
        <p> Wallet balance: <span>{{wallets.first.balance}}</span></p>
      </div>
      <div class="controls">
        <button (click)="addNewOwner('first')">Add new owner in contract</button>
        <button (click)="sendTransaction('first')">Send transaction</button>
        <button (click)="confirmTransaction('first')">Confirm transaction</button>
      </div>
    </div>

    <div class="wallet-info second">
      <h2>Second wallet</h2>
      <div class="info">
        <p> Wallet address: <span>{{wallets.second.address}} </span></p>
        <p> Wallet private key: <span>{{wallets.second.privateKey}} </span></p>
        <p> Wallet balance: <span>{{wallets.second.balance}}</span></p>
      </div>
      <div class="controls">
        <button (click)="addNewOwner('second')">Add new owner in contract</button>


      </div>
    </div>
  </div>


  <div class="container">
    <h3>Terminal
      <button (click)="terminal = []" class="float-r">Clear terminal</button>
    </h3>
    <div class="terminal">
      <p *ngFor="let item of terminal; let i = index">{{i}} ) {{item}}</p>
    </div>
  </div>
</div>

