<div class="shared-wallets container">
  <h1>Greeting simple smart contract.</h1>
  <h3>Instruction</h3>
  <p>1) Install Geth server </p>
  <p>2) Open terminal and run comand
    <strong>geth --ws --wsaddr "localhost" --wsport "8546" --wsorigins "*" --datadir "./data" --rinkeby --fast</strong>
  </p>
  <p>Contract attached for first wallet</p>
  <br>

  <div class="common-buttons">
    <button type="button" (click)="onDeployNewSmartContract()">Deploy smart contract</button>
    <button type="button" (click)="getWalletBalance()">Refresh wallet balance</button>
    <button type="button" (click)="getContractData()">Get greeting message</button>
  </div>

  <div class="wallet-wrapper container">
    <div class="wallet-info">
      <h2>First wallet</h2>
      <div class="info">
        <p> Wallet address: <span>{{wallets.first.address}} </span></p>
        <p> Wallet private key: <span>{{wallets.first.privateKey}} </span></p>
        <p> Wallet balance: <span>{{wallets.first.balance}}</span></p>
      </div>
      <div class="controls">
        <button (click)="changeGreetingMessage('first')">Change greeting message</button>
      </div>
    </div>

    <div class="wallet-info second">
      <h2>Second wallet</h2>
      <div class="info">
        <p> Wallet address: <span>{{wallets.second.address}} </span></p>
        <p> Wallet private key: <span>{{wallets.second.privateKey}} </span></p>
        <p> Wallet balance: <span>{{wallets.second.balance}}</span></p>
      </div>
      <div class="controls">
        <button (click)="changeGreetingMessage('second')">Change greeting message</button>
      </div>
    </div>
  </div>


  <div class="container">
    <h3>Terminal
      <button (click)="terminal = []" class="float-r">Clear terminal</button>
    </h3>
    <div class="terminal">
      <p *ngFor="let item of terminal; let i = index">{{i}} ) {{item}}</p>
    </div>
  </div>
</div>

